<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="" class="nav-link" data-toggle="pill" data-target="#gridoption_tab1"><i class="fas fa-th mr-1"></i>Opzioni colonna</a>
    </li>
   <!-- <li class="nav-item">
        <a href="" class="nav-link" data-toggle="pill" data-target="#gridoption_tab2"><i class="far fa-save mr-1"></i>Salva layout</a>
    </li>-->
</ul>
<div class="tab-content mt-2">
    <div class="tab-pane fade active show" id="gridoption_tab1" role="tabpanel">
    </div>
    <!-- <div class="tab-pane fade" id="gridoption_tab2" role="tabpanel">
        <div class="row">
            <div class="col-md-6">
                <label class="col-form-label col-md-12" for="layout_name_id">Nome layout</label>
                <input id="layout_name_id" type="text" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn ml-3 mt-5" id="btn_savelayout_id">Salva layout</button>
            </div>
        </div>
    </div> -->
</div>
