
<script>

    $('document').ready(function(){
        $("#procedureMessage_id").modal('show');
    });

</script>

<div class="container" style="position:relative; z-index:9000;">
    <!-- Modal -->
    <div class="modal" id="procedureMessage_id" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col" style="padding: 10px;">
                                <div class='procedureMessage_grid'></div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class='btn btn-secondary procedureMessage_btn_nosave mainButton' style="margin: 20px 20px;"></button>
                    <i class="procedureMessageWarningIcon fas fa-exclamation-triangle fa-3x" style="color:darkorange; display:none; margin: 2px 20px;"></i>
                    <i class="procedureMessageErrorIcon fas fa-exclamation-triangle fa-3x" style="color:darkred; display:none; margin: 20px 20px;"></i>
                    <button class='btn btn-secondary procedureMessage_btn_ignoreandsave mainButton' style="display:none; margin: 20px 20px;"></button>
                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>
