<div>
    <div id="maintoolbar1" class="btn-group">

        <button id="setsearch1" type="button" data-tag="mainsetsearch" class="btn btn-sq-lg col-xs-6">
            <i class="fas fa-eraser fa-3x" ></i>
            <span class="buttonTooBarText"></span></button>

        <button id="search1" type="button" data-tag="maindosearch" class="btn btn-sq-lg col-xs-6">
            <i class="fas fa-search fa-3x"  style="color:cyan;"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="insert1" type="button" data-tag="maininsert" class="btn btn-sq-lg">
            <i class="fas fa-plus-square fa-3x" style="color:blue;"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="insertcopy1" type="button" data-tag="maininsertcopy" class="btn btn-sq-lg">
            <i class="fas fa-copy fa-3x"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="mainsave1" type="button" data-tag="mainsave" class="btn btn-sq-lg">
            <i class="fas fa-save fa-3x" style="color:orange"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="mainselect1" type="button" data-tag="mainselect" class="btn btn-sq-lg">
            <i class="fas fa-check-square fa-3x" style="color:green"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="maindelete1" type="button" data-tag="maindelete" class="btn btn-sq-lg">
            <i class="fas fa-trash-alt fa-3x" style="color:red;"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="editnotes1" type="button" data-tag="editnotes" class="btn btn-sq-lg">
            <i class="far fa-edit fa-3x"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="showlast1" type="button" data-tag="showlast" class="btn btn-sq-lg">
            <i class="fas fa-info-circle fa-3x" style="color:blue"></i>
            <span class="buttonTooBarText"></span></button>

        <button id="mainclose1" type="button" data-tag="mainclose" class="btn btn-sq-lg">
            <i class="far fa-window-close fa-3x" style="color:brown"></i>
            <span class="buttonTooBarText"></span></button>

        <h6 class="text-right mb-0" id="toolbartitle"></h6>
 </div>
</div>