<!-- The Modal -->
<div class="modal" id="modalLoader_control_id" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h4 style="text-align:center; margin-top: 25px;" class="modalLoader_control_text"></h4>
                <div class="spinner-cont">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </div>
            </div>

        </div>
    </div>
</div>

