<head>
    <title>MultiSelectControl</title>
    <link  href="../styles/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link  href="../styles/app.css" rel="stylesheet" type="text/css">
</head>
<div class="container">
    <div id='loader_multiSelectControl_id'></div>
    <div id='multiSelectControl_id' style="display: none">
        <div class="row multiSelect_rowMargin">
            <div class="col">
                <h6 style="text-align:center;" class="multiSelect_lbl_toAdd"></h6>
                <div class="gridToAdd"></div>
            </div>
        </div>
        <div class="row multiSelect_rowMargin">
            <div class="col">
                <button class='btn btn-secondary multiSelect_btn_add'>aa</button>
                <button class='btn btn-secondary multiSelect_btn_remove' style="margin-left:20px;">aaddfff</button>
                <h6 class="multiSelect_lbl_description" style="display:inline-block; margin-left:40px;"></h6>
            </div>
        </div>
        <div class="row multiSelect_rowMargin">
            <div class="col">
                <h6 style="text-align:center;" class="multiSelect_lbl_added"></h6>
                <div class="gridAdded"></div>
            </div>
        </div>
    </div>
</div>