<nav class="navbar-main navbar navbar-dark bd-navbar" id="header">
	<div class="container" id="maintoolbar1">
		<ul class="list-inline">
			<li class="list-inline-item">
				<button id="setsearch1" type="button" data-tag="mainsetsearch" class="btn btn-primary p-2 mt-1">
					<i class="fas fa-eraser mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="search1" type="button" data-tag="maindosearch" class="btn btn-warning p-2 mt-1">
					<i class="fa fa-fw fa-search"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="insert1" type="button" data-tag="maininsert" class="btn btn-primary p-2 mt-1">
					<i class="far fa-plus-square"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="insertcopy1" type="button" data-tag="maininsertcopy" class="btn btn-primary p-2 mt-1">
					<i class="fa fa-copy mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="mainsave1" type="button" data-tag="mainsave" class="btn btn-primary p-2 mt-1">
					<i class="fa fa-fw fa-save"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="mainselect1" type="button" data-tag="mainselect" class="btn btn-primary p-2 mt-1">
					<i class="fas fa-check-square"></i>
					<span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="maindelete1" type="button" data-tag="maindelete" class="btn btn-primary p-2 mt-1">
					<i class="fa fa-trash mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="editnotes1" type="button" data-tag="editnotes" class="btn btn-primary p-2 mt-1">
					<i class="far fa-edit fa-3x"></i>
					<span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="showlast1" type="button" data-tag="showlast" class="btn btn-primary p-2 mt-1">
					<i class="fa fa-question mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="mainexportpdf" type="button" data-tag="mainexportpdf" class="btn btn-primary p-2 mt-1">
					<i class="fa fa-print mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
			<li class="list-inline-item">
				<button id="mainclose1" type="button" data-tag="mainclose" class="btn btn-primary p-2 mt-1">
					<i class="far fa-times-circle mr-1"></i> <span class="buttonTooBarText"></span>
				</button>
			</li>
		</ul>
		<h6 class="text-right mb-0" id="toolbartitle"></h6>
	</div>
</nav>
