<div class="row">
    <div class="col-12 col-md-6">
        <label class="spaceLabel">Data Inizio</label>
        <input type="text" class="form-control" id="txtStartDate" />
    </div>
    <div class="col-12 col-md-6">
        <label class="spaceLabel">Ore Totali</label>
        <input type="number"  min="1" class="form-control" id="txtTotalHours" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <label for="selectDays">Seleziona giorni</label>
        <select id="selectDays" name="days" multiple="multiple">
            <option value="1">Lunedì</option>
            <option value="2">Martedì</option>
            <option value="3">Mercoledì</option>
            <option value="4">Giovedì</option>
            <option value="5">Venerdì</option>
            <option value="6">Sabato</option>
        </select>
    </div>
    <div class="col-12 col-md-6">
        <label for="selectHours">Ore Al giorno</label>
        <select id="selectHours" name="days">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </div>
</div>
<button id="btnScheduleOk" type="button" class="btn btn-primary p-2 mt-2" >
    <i class="far fa-calendar mr-1" ></i>Crea scheduler
</button>
